
.table--body {
  width: 100%;
  height: calc(100vh - 42px);
  overflow-y: auto;
}


.grid--applied {
  border-left: #FFBF00;
}

.grid--responded {
  border-left: #85CC00;
}

.grid--rejected {
  border-left: #FF2E00;
}



//Misc
.app--body {
  height: 100vh;
}

.app--container {
  border: none !important;
  border-radius: 0 !important;
  height: calc(100vh - 42px);
  margin-top: 0 !important;

  .sidebar {
    width: 179px !important;
  }

}

// Globals
